# ------------------------------
# Prerequisites
# ------------------------------
*.d

# ------------------------------
# Compiled Object files
# ------------------------------
*.slo
*.lo
*.o
*.obj

# ------------------------------
# Precompiled Headers
# ------------------------------
*.gch
*.pch

# ------------------------------
# Linker files
# ------------------------------
*.ilk

# ------------------------------
# Debugger Files
# ------------------------------
*.pdb
*.dwo

# ------------------------------
# Compiled Dynamic libraries
# ------------------------------
*.so
*.dylib
*.dll

# ------------------------------
# Fortran module files
# ------------------------------
*.mod
*.smod

# ------------------------------
# Compiled Static libraries
# ------------------------------
*.lai
*.la
*.a
*.lib

# ------------------------------
# Executables
# ------------------------------
*.exe
*.out
*.app

# ------------------------------
# Visual Studio-specific
# ------------------------------
.vs/
*.VC.db
*.suo
*.user
*.ipch
*.db
*.sdf
*.opensdf

# ------------------------------
# Build logs and temporary files
# ------------------------------
*.log
*.tlog
*.tmp
*.bak
*.cache
